#version=RHEL8
# Install OS instead of upgrade
install

# Use graphical install
graphical

%packages
@^server-product-environment
kexec-tools
%end


# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Use network installation
url --url="http://192.168.69.96/OS/CentOS-8.4/iso-contents-root/"

# Network information
network  --bootproto=dhcp --device=link --ipv6=auto --activate
network  --hostname=pxe-client

# Run the Setup Agent on first boot
firstboot --enable



#ignoredisk --only-use=sda
# Partition clearing information
zerombr
clearpart --all --initlabel

# Disk partitioning information

part /boot --fstype="ext4" --size=512
part swap --fstype="swap" --recommended
part /var --fstype="ext4" --size=10000
part / --fstype="ext4" --size=5000
part /usr --fstype="ext4" --size=3000
part /home --fstype="ext4" --size=5000
part /tmp --fstype="ext4" --size=1000

# System timezone
timezone America/New_York --isUtc


# Root password
rootpw 123456
user --groups=wheel --name=test --password=123456


# Reboot after installation
reboot


#%addon com_redhat_kdump --enable --reserve-mb='auto'

#%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
%end
